<%- include ('partials/header'); -%>
	
  <div style="padding-top: 60px;">

   <h2 style="text-align: center; font-weight: 700; background-color: #6771b4; border-radius: 40px 0" class="jumbotron">
      <%= blog.title %>
    </h2>

  <div class="jumbotron">

  <img class="thumbnail" src="<%= blog.image %>" style="border-radius: 20px; margin-left: 30%; width: 45%; height: 35%;">

 <div>
	<h4 style="font-weight: 700; text-decoration: underline;">
		<%= blog.created.toDateString() %>
	</h4>
 </div>

 <h4 style="font-family: cursive;">
	<%- blog.body %>
 </h4>
 <div>
 <a href="/blogs/<%= blog._id %>/edit" class="btn btn-warning"  style="float: left; margin:5% 25%;">EDIT !</a>

 <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">

  <button style="margin-top: 5%;" class="btn btn-danger">DELETE !</button>

  </form>

</div>
  </div>

</div>
<%- include ('partials/footer'); -%>